<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-64x64.png" sizes="64x64" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/circle-icon-196x196.png" sizes="196x196" />
<link rel="shortcut icon" href="{{ site.url }}/favicon-circle.ico" type="image/x-icon" />

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/images/favicon/circle-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/assets/images/favicon/circle-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/images/favicon/circle-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/images/favicon/circle-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/images/favicon/circle-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/images/favicon/circle-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/images/favicon/circle-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/images/favicon/circle-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/circle-icon-180x180.png" />

<!-- Windows Tile Icons -->
<meta name="application-name" content="Carlos P Mendoza"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/favicon/circle-icon-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ site.url }}/assets/images/favicon/circle-icon-72x72.png" />
<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/images/favicon/circle-icon-152x152.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.url }}/assets/images/favicon/circle-icon-180x180.png" />
<meta name="msapplication-square310x310logo" content="{{ site.url }}/assets/images/favicon/circle-icon-196x196.png" />
