.social-links
  > .link
    margin: 0
    text-decoration: none
    position: relative
    display: inline-block
    height: 50px
    width: 50px
    color: $zeta

    i, svg
      font-size: 2em       // scale up <i> or <svg>
      line-height: 50px    // center vertically

    &:hover
      > i, > svg
        color: $delta

