.social-links
  > .link
    margin: 0
    text-decoration: none
    position: relative
    display: inline-block
    height: 35px
    width: 35px
    color: $zeta

    i, svg
      font-size: 1.5em       // scale up <i> or <svg>
      line-height: 35px    // center vertically

    &:hover
      > i, > svg
        color: $delta

